
h1 {
  margin-left:auto;
  margin-right:auto;
  font-size:
}
.item {
  box-sizing:border-box;
  height:60px;
  width:500px;
  background-color:blue;
  overflow:auto;
  float:left;
  border: 30px;
  border-color:black;
}

