body {
	background-color:aqua;
}

h1 {
  margin-left:auto;
  margin-right:auto;
  font-size:
}
.label {
    position:relative;
    width:100px;
    height:40px;
    background-color:yellow;
    right:-200px;
}
.item {
  box-sizing:border-box;
  height:100px;
  width:33%;
  background-color:blue;
  overflow:auto;
  float:left;
  margin: 30px;
  border-color:black;
}

@media (max-width: 992px and min_width: 772px) {
  .sd {
    clear:left;
  }
  .ss {
	  width: 50%
  }

}
@media (max-width: 771px) {
  .xs {
    clear:left;
  }
  .ss {
    width: 100%
   }
}

