
h1 {
  margin-left:auto;
  margin-right:auto;
  font-size:
}
.item {
  box-sizing:border-box;
  height:100px;
  width:100px;
  background-color:blue;
  overflow:auto;
  float:left;
  margin: 30px;
  border-color:black;
}
@media (max-width: 992px and min_width:772px) {
  .sd {
    clear:left;
  }
}
@media (max-width: 771px) {
  .xs {
    clear:left;
  }
}

